<div class="copy">
  Hi!
</div>
<div class="copy">
  Thank you so much for providing any feedback you have on the tutorial <%= @tutorial.name %>!
</div>
<div class="copy">
  Your feedback is anonymous.
</div>
<div class="copy">
  Please let us know about anything in particular that you found confusing, or anything that you liked or disliked, or really anything at all!
</div>
<%= form_for :feedback, html: { class: "form" } do |f| %>
  <%= f.text_area :content, class: "text-area"  %>
  <%= hidden_field_tag 'feedback[tutorial_id]', @tutorial.id %>
  <br/>
  <%= f.submit 'Send Feedback', class: "submit-button" %>
<% end %>
